---
layout: base
---
.row
  .col-md-12
    .page-header
      %h1 Be ready for nROP

.row
  .col-md-12
    .panel-heading
      %h3 Get started
      %p Discover how to use nROP and discover tricky gadgets
      %a.btn.btn-primary.btn-lg{:href=>"#{site.base_url}/download"} Download/Build
      %a.btn.btn-primary.btn-lg{:href=>"#{site.base_url}/getstarted"} Get started

.row
  .col-md-4
    %h3 About
    %p Current ROP tools suffer from static gadget search and does not extract the underlying semantic. Combining the intermediate language of Qemu with the LLVM optimization, nROP is able to seek exotic combination to achieve your exploit.
    %p
      %a.btn.btn-default{:href=>"#{site.base_url}/doc"} View details &raquo; 

  .col-md-4
    %h3 Goal
    %p Exploiting softwares require subtle gadget chaining to bypass state-of-the-art memory protection. nROP helps exploit writers to achieve non-trivial gadget chaining on various architecture.
    %p
      %a.btn.btn-default{:href=>"#{site.base_url}/demo"} View details &raquo; 

  .col-md-4
    %h3 Concept
    %p Mix Qemu, LLVM and z3 (tobedone) for ultimate instruction semantic.
    %p
      %a.btn.btn-default{:href=>"#{site.base_url}/doc"} View details &raquo; 
